body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text_box{
    width: 70%;
    border: 1px solid black;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    text-align: justify;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

